<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <div class="footer-logo">
                <a href="index.html"><img src="assets/image/Logo/logo_footbar.png" alt="Pusat Karier Logo"></a>
            </div>
            <div class="footer-address">
                Alumni Center IKALUIN Jakarta<br>
                Jl. Kertamukti No.34, Pisangan, Kec. Ciputat Timur, Kota<br>
                Tangerang Selatan, Banten 15419
            </div>
            <div class="social-links">
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-telegram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com/karieruinjakarta" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
        <div class="footer-section">
            <h3>What We Do</h3>
            <ul class="footer-links">
                <li><a href="#">Career Festival</a></li>
                <li><a href="konseling.html">Pekan Konseling</a></li>
                <li><a href="#">Tracer Study</a></li>
                <li><a href="#">PERSAMI</a></li>
                <li><a href="#">Company Visit</a></li>
                <li><a href="#">Growth Buddy</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Institution</h3>
            <ul class="footer-links">
                <li><a href="#">About us</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">UIN Syarif Hidayatullah Jakarta</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Support</h3>
            <ul class="footer-links">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Business</a></li>
            </ul>
            <div class="contact-info">
                <h3>Contact</h3>
                <ul class="footer-links">
                    <li>E-Mail: karir@uinjkt.ac.id</li>
                    <li>Mobile Phone: +62 813 24306918</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        Copyright © 2024 KKN in Pusat Karier
    </div>
</footer>
