<nav class="nav-container">
    <div class="logo">
        <a href="index.html"><img src="assets/image/Logo/logo_navbar.png" alt="Pusat Karier Logo"></a>
    </div>
    <div class="search-container">
        <i class="fas fa-search search-icon"></i>
        <input type="search" class="search-box" placeholder="Search">
    </div>
    <div class="nav-menu">
        <a href="index.html">Home</a>
        <a href="#" class="dropdown">Jobs</a>
        <a href="#" class="dropdown">Community</a>
        <a href="konseling.html">Counseling</a>
        <a href="tracer-study.html">Tracer Study</a>
        <a href="about-us.html">About Us</a>
        <a href="#">Login</a>
    </div>
</nav>
