<nav class="nav-container">
    <div class="logo">
        <a href="index.html"><img src="assets/image/Logo/logo_navbar.png" alt="Pusat Karier Logo"></a>
    </div>
    <div class="search-container">
        <i class="fas fa-search search-icon"></i>
        <input type="search" class="search-box" placeholder="Search">
    </div>
    <div class="nav-menu">
        <a href="index.html">Home</a>
        
        <!-- Jobs Dropdown -->
        <div class="dropdown">
            <a href="#" class="dropdown-trigger">Jobs</a>
            <div class="dropdown-content">
                <a href="vacancies.html">Vacancies</a>
                <a href="companies.html">Companies</a>
            </div>
        </div>
        
        <!-- Community Dropdown -->
        <div class="dropdown">
            <a href="#" class="dropdown-trigger">Community</a>
            <div class="dropdown-content">
                <a href="events.html">Events</a>
                <a href="news.html">News</a>
                <a href="forum.html">Forum</a>
            </div>
        </div>
        
        <a href="konseling.html">Counseling</a>
        <a href="tracer-study.html">Tracer Study</a>
        <a href="about-us.html">About Us</a>
        <a href="#">Login</a>
    </div>
</nav>
