<!-- login-modal.html -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <img src="assets/image/Logo/logo_footbar.png" alt="Pusat Karier Logo">
            <h1>Welcome back!</h1>
            <p>Enter your Credentials to access your account</p>
        </div>
        <form>
            <div class="form-group">
                <label>Email address</label>
                <input type="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" placeholder="Password">
            </div>
            <div class="remember-forgot">
                <div class="remember-me">
                    <input type="checkbox" id="remember">
                    <label for="remember">Remember me</label>
                </div>
                <a href="#" class="forgot-password">Forgot password</a>
            </div>
            <button type="submit" class="login-button">Login</button>
            <p class="signup-prompt">
                Don't have an account? <a href="#">Sign Up</a>
            </p>
        </form>
    </div>
</div>
